.dropdownContainer {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
}

.dropdown {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #7986cb;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}
